@font-face {
    font-family: "Main-font"; 
    src: url(fonts/Main-font.ttf) format("truetype"); 
    font-style: normal;
    font-weight: normal;
} 

.body_st{
    margin: 0;
    padding: 0;
    background-image: url(Image/background_Img1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    
}

header {
    position: relative;
    align-content: flex-start;
}

.find-lk {
    height: 60%;
    position: absolute;
    top: 35%;
    left: 8%;
    transform: translate(-50%,-50%);
}

.find-img {
    position: absolute;
    height:  80%;
    top: 40%;
    left: 74%;
    transform: translate(-50%, -50%);
}

.navigation p {
    font-family: Main-font;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 40px;
}

.headers-margin {
    margin-top: 300px;
    margin-left: 150px;
}

h1{
    position: flex;
    width: 700px;
    height: 80px;
    margin: 0;
    font-family: Main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 65px;
    text-align: right;

    color: #FFFFFF;
}

h2{
    padding-top: 65px;
    position: flex;
    width: 700px;
    height: 80px;
    margin: 0;
    font-family: Main-font;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 35px;
    text-align: right;
    color: #FFFFFF;
}

.rectangle {
    position: absolute;
    width: 400px;
    height: 60px;
    left: 15%;
    top: 387px;
    margin-left: 300px;
    margin-top: 350px;
    background: rgba(196, 196, 196, 0.29);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 35px;
}

.rectangle p {
    margin: 0;
    padding-top: 15px;
    text-align: center;
    font-family: Century751 SeBd BT;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 19px;
    color: #FFFFFF;
}

.rectangle1 {
    position: absolute;
    width: 400px;
    height: 60px;
    left: 15%;
    top: 47%;
    margin-left: 300px;
    margin-top: 350px;
    background: rgba(196, 196, 196, 0.29);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 35px;
}

.rectangle1 p {
    margin: 0;
    padding-top: 15px;
    text-align: center;
    font-family: Century751 SeBd BT;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 19px;
    color: #FFFFFF;
}

.under-line-main-text {
    margin-top: 330px;
    margin-left: 150px;
    position: absolute;
    width: 600px;
    height: 0px;
    left: 100px;
    top: 500px;
    border: 2px solid #FFFFFF;
}

.registration {
    position: relative;
    width: 200px;
    height: 200px;
}

#okno {
        margin: 0;
        width: 45%;
        height: 700px;
        text-align: center;
        padding: 15px;
        border-radius: 40px;
        background-color: rgba(128, 128, 128, .6);
        color: white;
        margin-left: 140%;
        margin-top: 35%;
        transform: translate(-15%);
        background-color: rgba(255, 255, 255, .4);
      }

#okno p {
    font-family: Main-font;
    font-size: 40px;
    padding: 0;
    margin-top: 30px;
}

#okno .reg-header {
    font-family: Main-font;
    font-size: 52px;
    display: ;
    margin-top: 0;
    margin-bottom: 10px;
}


/* Закрываем */
.reg-window {
    display: none;
}

/* Открываем*/
.reg-window:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Обёртка */
.reg-window .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0,.75);
    content: "";
    cursor: default;
}

.log-window {
    display: none;
}

/* Открываем*/
.log-window:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Обёртка */
.log-window .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0,.75);
    content: "";
    cursor: default;
}

.in-window{
    display: none;
}

.in-window:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.in-window .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0,.75);
    content: "";
    cursor: default;
}

.submit-button {
    margin-top: 70px;
    width: 70%;
    height: 60px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

.submit-button:active {
    background-color: green;
    transform: scale(1.2);
    transition: all .1s ease;
}

input[type=text] {
    width: 65%;
    box-sizing: border-box;
    padding: 12px 20px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-family: Main-font;
    text-align: center;
    
}

input[type=password] {
    width: 65%;
    box-sizing: border-box;
    padding: 12px 20px;
    border-radius: 30px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-family: Main-font;
    text-align: center;
    
}

ul{
    font-family: Century751 SeBd BT;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}

.navigation {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
    justify-content: space-between;
    column-gap: 1fr 1fr;
}

.navigation a,
.navigation a:visited
.navigation a:active {
  color: inherit;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0px;
}

.navi-item {
    display: block;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}